<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>录入人</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="__STATIC__/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel='stylesheet' type="text/css" href="__STATIC__/vendor/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css">
    <link href="__STATIC__/vendor/wangEditor-3.1.1/release/wangEditor.css" rel="stylesheet">

    <!--<link rel="stylesheet" type="text/css" media="screen" href="__STATIC__/vendor/bootstrap/css/bootstrap-theme.min.css" />-->
</head>
<!--试试看改变-->

<body>
    <div class="container" style="width: 95%">
        <div class="row">
            <div class="col-md-12 column">
                <div class="page-header">
                    <h1>
                        试题录入
                        <small>修改</small> {include file="../application/common/QQ.html" /}
                    </h1>
                </div>
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/testpaper/public/index.php/uploader/index">
                            <strong>试题录入</strong>
                        </a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="">修改</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a>录入员: {$user.Username}</a>
                            </li>
                            <li class="dropdown">
                                <a id="quit" href="#" class="dropdown-toggle" data-toggle="dropdown">退出
                                    <strong class="caret"></strong>
                                </a>
                            </li>
                        </ul>
                    </div>

                </nav>
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-heading">

                                </div>
                                <div class="panel-body">
                                    <form role="form">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">题干</label>
                                            <div id="big-name">
                                                <p>{$data.Name}</p>
                                            </div>
                                        </div>
                                        <div class="well">
                                            {if condition = "$data.Children == 0"}
                                            <div class="form-group well" id="single">
                                                <label class="col-sm-1 control-label">本题分值</label>
                                                <input id="big-score" class="form-control" type="number" name="score" min="1" value='{$data.Score}'>
                                            </div>
                                            <div id="big-answer">
                                                <p>{$data.Answer}</p>
                                            </div>
                                            {else /} {volist name = "$childrendata" id = "it"}
                                            <div class="form-group well">
                                                <label>小题干{$key+1}</label>
                                                <div id="small-name-{$key}">
                                                    <p>{$it.Name}</p>
                                                </div>

                                                <label class="col-sm-1 control-label">本题分值</label>
                                                <input id="small-score-{$key}" class="form-control" type="number" name="score" min="1" value='{$it.Score}'>
                                                <label>小题答案</label>
                                                <div id="small-answer-{$key}">
                                                    <p>{$it.Answer}</p>
                                                </div>

                                            </div>
                                            {/volist} {/if}
                                        </div>
                                        <div class="clearfix"></div>
                                        <button type="button" class="btn btn-success" id="send" onclick="send_child_number({$childrennumber},'{$data.Belong}')">完成修改</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="__STATIC__/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="__STATIC__/vendor/jquery-cookie/jquery.cookie.js"></script>
    <script src="__STATIC__/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="__STATIC__/vendor/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
    <script src="__STATIC__/vendor/sweetalert/sweetalert.js"></script>
    <script src="__STATIC__/vendor/wangEditor-3.1.1/release/wangEditor.js"></script>
    <script src="__STATIC__/js/reloadshort.js"></script>
    <script src="__STATIC__/js/quit.js"></script>
    <script src="__STATIC__/vendor/jnotify/notify.js"></script>
    <script src="__STATIC__/js/notifyforauditor.js"></script>
</body>

</html>