<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>录入人</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="__STATIC__/vendor/bootstrap/css/bootstrap.min.css" />
    <style>
        img {
            border: 1px tomato solid
        }
    </style>
</head>

<body>
    <div class="container" style="width: 95%">
        <div class="row">
            <div class="col-md-12 column">
                <!--这里是标题部分-->
                <div class="page-header">
                    <h1>
                        试题录入
                        <small>预览</small> {include file="../application/common/QQ.html" /}
                    </h1>
                </div>
                <!--这里是导航栏部分-->
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/testpaper/public/index.php/uploader/index">
                            <strong>试题录入</strong>
                        </a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li>
                                {if condition="$data.state==0"}<a href="/testpaper/public/index.php/uploader/addtestpaper/index/id/{$id}">新建</a>{else /}<a href="/testpaper/public/index.php/uploader/index">主页</a>{/if}
                            </li>
                            <li class="active">
                                <a href="">预览</a>
                            </li>
                            {if condition="$data.state!=0 && $flag!=1"}
                            <li>
                                <a href="/testpaper/public/index.php/uploader/addtestpaper/index/id/{$id}">补充录入</a>
                            </li>{else /}{/if}
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">更多
                                    <strong class="caret"></strong>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/testpaper/public/index.php/uploader/index">返回主页</a>
                                    </li>
                                    <li class="divider">
                                    </li>
                                    <li>
                                        <a id="quit" href="">退出</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
                <!--这里是试卷详情-->
                <div>
                    <div class="jumbotron">
                        <h1 align="center">
                            {$data.name}
                        </h1>
                        <h4 align="center">
                            {$data.class} {$data.subject} {$data.school} 总分：{$data.score} {if condition="$data.unexpectscore>0"} 分值多于总分：<strong style="color:tomato">{$data.unexpectscore}</strong>分{elseif condition="$data.unexpectscore==0"/}{else /} 分值少于总分：
                            <strong style="color:tomato">{$data.unexpectscore*-1}</strong>分{/if}
                        </h4>
                    </div>
                    {volist name = "data.children" id = "vo" key='key'} {switch name ="vo.type"} {case value = "选择题"}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span style="font-size: 30px">{$key}.</span>
                            <span style="font-size: 30px">{$vo.name}
                                <small>{$vo.type}</small>
                            </span style="font-size: 30px">
                            
                        </div>
                        <div class="panel-body">
                            {volist name = "vo.children" id = "sel" key='k'}
                            <h4>{$k}.{$sel.name} ({$sel.score}分)</h4>
                            <div class="text-right"><a class="btn btn-default" href="/testpaper/public/index.php/uploader/reloadselect/index/id/{$sel.id}">编辑</a></div>
                            <ol type="A">
                            {volist name = "sel.option" id = "ansoption"}
                            <li><h5 style="margin-left:20px">{$ansoption}</h5></li>
                            {/volist}
                            </ol>
                            <h5>答案:{volist name='sel.answer' id='answer'}{$answer}&nbsp;{/volist}</h5>
                            <br>
                            <hr> {/volist}
                        </div>
                    </div>
                    {/case} {case value = "填空题"}
                    <div class="panel panel-default">
                        <div class='panel-heading'>
                            <span style="font-size: 30px">{$key}.</span>
                            <span style="font-size: 30px">{$vo.name}
                                <small>{$vo.type}</small>
                            </span style="font-size: 30px">
                        </div>
                        <div class="panel-body">
                            {volist name = "vo.children" id = "fill" key='k'}
                            <h4>{$k}.{volist name='fill.name' id='name' key='b'}{$name}{if condition="$b==$fill.end"}&nbsp;
                                {else /} _________
                                {/if}{/volist} ({$fill.score}分)</h4>
                            <br>
                            <h5>答案:{volist name='fill.answer' id='answer'}{$answer}&nbsp;{/volist}</h5>
                            <div class="text-right"><a class="btn btn-default" href="/testpaper/public/index.php/uploader/reloadfill/index/id/{$fill.id}">编辑</a></div>
                            <hr> {/volist}
                        </div>
                    </div>
                    {/case} {case value = "简答题"}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span style="font-size: 30px">{$key}.</span>
                            <span style="font-size: 30px">{$vo.name}
                                    <small>{$vo.type}</small></span style="font-size: 30px">
                        </div>
                        <div class="panel-body">
                            {volist name = "vo.children" id = "short" key='k'}
                            <h4>{$k}.{$short.name}({$short.score}分)</h4>
                            <br>
                            {volist name = "short.child" id = "childData" key='k1'}
                               <b>[{$key+1}]&nbsp;{$childData.name}({$childData.score}分)</b>
                                <br>
                                &nbsp;&nbsp;答案:{$childData.answer}
                                <br>
                            {/volist}
                            <h5>{if condition = "$short.child == null"}答案:{$short.answer}{/if}</h5>
                            <div class="text-right"><a class="btn btn-default" href="/testpaper/public/index.php/uploader/reloadshortanswer/index/id/{$short.id}">编辑</a></div>
                            <hr> {/volist}
                        </div>
                    </div>
                    {/case} {/switch}
                    <br> {/volist}
                    <div class="panel panel-primary"><div class="panel-body"><div class="text-right"><button class="btn btn-success" onclick="commit('{$id}')">{if condition="$data.state==0"}完成录入{else /}重新提交{/if}</button></div></div></div>
                </div>
            </div>
        </div>
    </div>
    <script src="__STATIC__/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="__STATIC__/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="__STATIC__/vendor/jquery-cookie/jquery.cookie.js"></script>
    <script src="__STATIC__/vendor/sweetalert/sweetalert.js"></script>
    <script src='__STATIC__/js/addtestpaper.js'></script>
    <script src="__STATIC__/js/quit.js"></script>
</body>

</html>